/* General */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-grey-color: #2f303a;
  --button-secondary-bgc: #f5f4fa;
  --icon-primary-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-white-color);
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header style */

.header {
  display: block;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
  margin-left: 93px;
}
.site-nav .current.link {
  color: var(--accent-color);
  position: relative;
}
.site-nav .current.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav .item + .item,
.site-contacts .item + .item {
  margin-left: 50px;
}

.header .link,
.link-current {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo {
  margin-left: 0 px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--primary-text-color);
  text-decoration: none;
}
.logo-start {
  color: var(--accent-color);
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}
.site-contacts .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;

  display: flex;
  align-items: center;
}

.site-contacts {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.site-contacts-icons {
  align-items: center;
  justify-content: center;
}
.envelope {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  padding: 200px 0 200px 0;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--title-grey-color);

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
}
.hero-title {
  font-weight: 900;
  letter-spacing: 0.06em;
  font-size: 44px;
  line-height: 1.1;
  color: var(--primary-white-color);
}
.primary {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;

  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  padding: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-cross {
  padding: 6px;
  background-color: var(--primary-white-color);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: 100;
  fill: var(--primary-text-color);
}
.cross-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
.cross-button {
  border: none;
  background-color: var(--primary-white-color);
  cursor: pointer;
}
/* Features */
.hidden-text {
  display: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
/* Icon features */
.icon-feutures {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-secondary-bgc);
  border-radius: 4px;
  margin-bottom: 30px;
}
.feature {
  display: flex;
}
.feature .features-item + .features-item {
  margin-left: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.features-text {
  line-height: 1.7;
  color: var(--title-text-color);
}
/* Чим ми займаємось */
.work {
  display: flex;
}
.work .item + .item {
  margin-left: 30px;
}
.work-section {
  padding-top: 0;
}
.work-txt {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;

  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.work .item {
  position: relative;
}

/* Наша команда */
.team-list {
  display: flex;
}
.team-list .team-item + .team-item {
  margin-left: 30px;
}
.team-item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-description {
  padding: 30px 0 30px 0;
  text-align: center;
  background: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}
.position {
  color: var(--title-text-color);
  font-size: 16px;
}
.team-section {
  background-color: rgba(245, 244, 250, 1);
}
/* Иконки соцсетей команды */
.icons-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icon-primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list .team-icons + .team-icons {
  margin-left: 10px;
}
.icons:focus,
.icons:hover {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}
/* Постійні клієнти */
.clients-list {
  display: flex;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.icon-clients {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-primary-color);
  border-radius: 4px;
  fill: var(--icon-primary-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients:focus,
.icon-clients:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.clients-list .clients-item + .clients-item {
  margin-left: 30px;
}
/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-communication {
  margin-top: 20px;
}
.footer-communication .item:not(:last-child) {
  margin-bottom: 9px;
}
footer {
  background-color: var(--title-grey-color);
}
.logo-end {
  color: var(--primary-white-color);
}
.footer-communication .link {
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address {
  color: var(--primary-white-color);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-communication .link:hover,
.footer-communication .link:focus {
  color: var(--accent-color);
}
.footer-parts {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
  align-items: top;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer-icons-item:not(:first-child) {
  margin-left: 10px;
}
.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: var(--accent-color);
}
/* Portfolio */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-list .item + .item {
  margin-left: 8px;
}
.secondary {
  padding: 6px 25px 6px 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--button-secondary-bgc);
  border: none;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.secondary:hover,
.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-description {
  padding: 20px 24px 20px 24px;
  border: 1px solid rgba(236, 236, 236, 1);
  border-top: none;
}
.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-item .link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item .link:hover,
.project-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-type {
  font-size: 16px;
  color: var(--title-text-color);
  line-height: 1.9;
}
.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-txt {
  transform: translateY(101%);

  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  display: block;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list .link:hover .overlay-txt,
.project-list .link:focus .overlay-txt {
  transform: translateY(0%);
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: none;
  text-align: center;

  margin-bottom: 12px;
}

.modal-form-list {
  list-style: none;
}
.form-field:not(:last-child) {
  margin-bottom: 10px;
}
.form-field:last-child {
  margin-bottom: 20px;
}
.form-check {
  position: relative;
}

.form-label {

  margin-bottom: 4px;
  text-align: left;

  display: block;

  font-size: 12px;
  letter-spacing: 0.01em;
  text-transform: none;
  color: var(--title-text-color);
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.form-label-check {
  position: relative;
  display: block;

  font-size: 14px;
  line-height: 1.7;
  text-transform: none;
  color: var(--title-text-color);
  margin-bottom: 30px;
  padding-left: 37px;
  text-align: left;
}

.form-label-check-link {
  font-size: 14px;
  line-height: 1.7;
  text-decoration-line: underline;
  letter-spacing: 0.03em;

  color: var(--accent-color);
  text-decoration-color: var(--accent-color);
}

.form-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  padding: 10px 52px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}

.form-textarea {
  width: 100%;
  height: 120px;

  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input-wrap {
  position: relative;
}
.svg-form {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);

  fill: var(--primary-text-color);
}
.form-input:focus,
.form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.form-input:focus + .svg-form {
  fill: var(--accent-color);
}
.check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.icon-check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primary-text-color);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.check:checked + .icon-check {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/check.svg");
  background-size: contain;
  fill: var(--primary-white-color);
  background-position: center;
  background-origin: border-box;
}

.footer-form {
  display: flex;
  margin-left: 93px;
  position: relative;

  width: 570px;
}

.footer-label {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer-input {
  display: block;
  margin-right: 15px;

  width: 358px;
  height: 50px;
  padding: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;

  transition: border-color 250ms var(--cubic);
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent-color);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-btn {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: box-shadow 250ms var(--cubic);
}
.footer-form-btn-text {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.svg-footer-form {
  fill: var(--primary-white-color);
}
